
.logo {
    float: left;
}
p{
  
}

  .nav {
    text-align: right;
    padding: 5px;
  }

  .navFooter {
    text-align: left;
    list-style: none;
    display: inline-block;
    padding: 5px;
  }


.section1 {
    outline: 1px solid red;
}

h1 {
    text-align: center;
    color:black;
  }

  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
  img.b {
    vertical-align: text-top;
  }

  span.c {
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
  }

  .myDiv {
    border: 5px outset red;
    background-color: lightblue; 
    text-align: center;
  }
  img { 
    display: inline-block;
  }
  